@import "tailwindcss";

:root {
  background-color: black;
  color-scheme: dark;
}

body {
  margin: 0;
  overflow-x: hidden;
  width: 100vw;
  background-color: black;
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#root {
  width: 100%;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 5px;
  border: 2px solid #111;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #27272a #000;
}